{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<!-- Start: Page Banner -->
<section class="page-banner services-banner" xmlns="http://www.w3.org/1999/html">
            <div class="container">
                <div class="banner-header">
                    <h2>Book Details</h2>
                    <span class="underline center"></span>
                    <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Book Details</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->

        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="booksmedia-detail-main">
                        <div class="container">
                            <div class="row">
                            </div>
                            <div class="booksmedia-detail-box">
                                <div class="detailed-box">
                                    <div class="col-xs-12 col-sm-5 col-md-3">
                                        <div class="post-thumbnail">
                                            <div class="book-list-icon blue-icon"></div>
                                            <img src="{{book.img.url}}" alt="Book Image">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-6">
                                        <div class="post-center-content">
                                            <h2>{{book.name}}</h2>
                                            <p><strong>Author:</strong> {{book.author}}</p>
                                            <p><strong>Book ID:</strong> {{book.id}}</p>
                                            <p><strong>Length:</strong> {{book.pages}} pages.</p>
                                            <p><strong>Format:</strong> {{book.format}}</p>
                                            <p><strong>Language Note:</strong> {{book.lang}}</p>
                                            <p><strong>Genre :</strong> {{book.genre}}</p>
                                            <div class="actions">
                                                <ul>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Add To Cart">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Like">
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Mail">
                                                            <i class="fa fa-envelope"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Search">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Print">
                                                            <i class="fa fa-print"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" data-toggle="blog-tags" data-placement="top" title="" data-original-title="Print">
                                                            <i class="fa fa-share-alt"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 ">
                                        <div class="post-right-content">
                                            {% if book.is_avail %}
                                                <h4>Available Now</h4>
                                                <p><strong>Total Copies:</strong> {{book.stock}}</p>
                                                <a href="/buy_now/{{book.id}}" class="btn btn-dark-gray">Buy Now</a>
                                                <a href="/add_to_cart/{{book.id}}" class="btn btn-dark-gray">Add to Cart</a>
                                            {% else %}
                                                <h4>Out of stock</h4>
                                                <p><strong>Total Copies:</strong> {{book.stock}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <p><strong>Summary:</strong> {{book.desc}} </p>

                                <div class="table-tabs" id="responsiveTabs">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><b class="arrow-up"></b><a data-toggle="tab" href="#sectionA">Copies: 05</a></li>
                                        <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionB">Reviews</a></li>
                                        <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionC">Table of Contents</a></li>
                                        <li><b class="arrow-up"></b><a data-toggle="tab" href="#sectionD">Novelist Recommendations</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="sectionA" class="tab-pane fade in active">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Library Name</th>
                                                        <th>Shelf Number</th>
                                                        <th>Material Type</th>
                                                        <th>Status </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Oak Park Public Library Main Branch</td>
                                                        <td>B PURMORT</td>
                                                        <td>Book</td>
                                                        <td>In Processing</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bedford Park Public Library District</td>
                                                        <td>616.99 PUR</td>
                                                        <td>Book</td>
                                                        <td>Due 8/24/16</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Blue Island Public Library</td>
                                                        <td>BIO PUR</td>
                                                        <td>eBook</td>
                                                        <td>Due 8/24/16</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bridgeview Public Library</td>
                                                        <td>B PUR</td>
                                                        <td>DVD</td>
                                                        <td>In Processing</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Eisenhower Public Library District</td>
                                                        <td>616.994 PUR</td>
                                                        <td>Magazine</td>
                                                        <td>Checked In</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Forest Park Public Library</td>
                                                        <td>BIO PURMORT</td>
                                                        <td>Magazine</td>
                                                        <td>Checked In</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hinsdale Public Library</td>
                                                        <td>B PUR</td>
                                                        <td>Audio</td>
                                                        <td>Checked In</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Oak Park Public Library Maze Branch</td>
                                                        <td>616.99 PUR</td>
                                                        <td>Audio</td>
                                                        <td>Due 9/10/16</td>
                                                    </tr>
                                                    <tr>
                                                        <td>River Grove Public Library District</td>
                                                        <td>616.994 PURMORT</td>
                                                        <td>Book</td>
                                                        <td>Due 9/10/16</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="sectionB" class="tab-pane fade in">
                                            {% if user.is_authenticated %}
                                            {% if allow %}
                                                <form action="/reviews/" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{book.id}}" name="book_id">
                                                    <textarea name="review" placeholder="Write review...."></textarea><br>
                                                    <button type="submit" class="btn btn-success">Save Review</button>
                                                </form>
                                            {% else %}
                                                <h3 class="text-danger">You have to purchase this book to add review.</h3>
                                            {% endif %}
                                            <hr>
                                            {% for r in all_reviews %}
                                            <h5>
                                                {{r.user.username}} - {{r.review_date}}
                                                {% if r.user == user %}
                                                    <a href="/delete_review/{{r.id}}"><i class="fas fa-trash"></i></a>
                                                {% endif %}
                                            </h5>
                                                <p>{{r.review}}</p>
                                            {% endfor %}
                                            {% else %}
                                                <button type="button" class="btn btn-primary">
                                                    <a class="text-light" href="/logreg/">LOGIN TO WRITE REVIEW</a>
                                                </button>
                                            {% endif %}
                                        </div>
                                        <div id="sectionC" class="tab-pane fade in">
                                            <h5>Lorem Ipsum Dolor</h5>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                        </div>
                                        <div id="sectionD" class="tab-pane fade in">
                                            <h5>Lorem Ipsum Dolor</h5>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                        </div>
                                        <div id="sectionE" class="tab-pane fade in">
                                            <h5>Lorem Ipsum Dolor</h5>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                        </div>
                                        <div id="sectionF" class="tab-pane fade in">
                                            <h5>Lorem Ipsum Dolor</h5>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->

{% endblock %}